body {
	font-family: 'Gugi', cursive;
	text-align: center;
}

button {
	background-color: pink;
	width: 33%;
}

div.square, div.bomb {
	background-color: goldenrod;
	border: 1px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.empty {
	background-color: gold;
}

div:hover {
	background-color: gold;
}

img {
	height: auto;
	width: 100%;
}

#board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	background-color: lightgray;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	padding: 10px;
}

.container {
	display: flex;
	flex-direction: column;
}

.counters {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 300px;
	margin: 0 auto;
}