body {
	font-family: 'Gugi', cursive;
	text-align: center;
}

button#flag {
	background: url(images/flag.png);
	border: none;
	height: 33.33px;
	width: 33.33px;
	text-align: center;
}

button#flag:hover {
	background-color: gold;
	border-radius: 50%;
}

div.square, div.bomb {
	background-color: goldenrod;
	border: 1px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.empty {
	background-color: gold;
}

div.flag, div.flagged-bomb {
	background-color: goldenrod;
	border: 1px solid lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
}

div:hover {
	background-color: gold;
}

img {
	height: auto;
	width: 100%;
}

.counters {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 300px;
	margin: 0 auto;
}

#board {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(9, 1fr);
	background-color: lightgray;
	height: 350px;
	width: 350px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 10px;
	cursor: default;
}

#board:hover {
	box-shadow: 10px 10px 5px grey;
}

#title:hover {
	text-shadow: 2px 5px gold;
}

button.reset:hover {
	box-shadow: 2px 2px 2px grey;
}

.slidein {
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-top: 100%;
		width: 300%;
	}

	to {
		margin-top: 0%;
		width: 100%;
	}
}